@model BAIMI.Context.produto

@{
    ViewBag.Title = "VerProduto";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal? precoAvista = 0;
}

<section>
    <div class="container-fluid destaque-azul" id="product-first-destaque">
        <div class="d-flex justify-content-center">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1>SIMULE AGORA A FORMA DE PAGAMENTO</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid destaque-vermelho" id="product-second-destaque">
        <div class="">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-center">
                    <div>
                        <p class="h2">EM ATÉ 3H57MIN</p>
                        <p class="h1">NA SUA CASA</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <img src="@Url.Content("~/Content/Images/logotipo-baimi.png")" class="img-fluid mx-auto d-block" alt="Responsive image">
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <p class="h5">XIAOMI 100% ORIGINAL NA VERSÃO GLOBAL</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container border" id="product-div">
        <div class="row">
            <div class="col-md-6">
                <div class="border" id="product-image">
                    <img src="@Url.Content("~/uploads/"+ Model.url_foto)" class="img-fluid mx-auto d-block" alt="">
                </div>
            </div>
            <div class="col-md-6" id="product-specifications">
                @try
                {
                    var parcelas = Model.numero_max_parcelas != null ? Model.numero_max_parcelas : 12;
                    dynamic valorDividido = Model.valor / parcelas;
                    var porcentagem = ((decimal)20 / 100) * Model.valor;
                    var descontoAVista = ((decimal)Model.desconto_avista / 100) * Model.valor;
                    <p class="sold">@Model.vendidos VENDIDOS</p>
                    <p class="product-title h1">@Model.nome <span class="gigabytes">128 GB</span></p>
                    <p class="description h5">@Model.descricao_curta</p>
                    if (Model.entrega_gratis == null || Convert.ToBoolean(Model.entrega_gratis))
                    {<p class="free-shipping h3">ENTREGA GRÁTIS!</p>}
                    <p class="portion h2">@(parcelas)X de @(valorDividido.ToString("C"))</p>
                    <p class="amount h1"></p>
                    <br>
                    <p class="in-cash h4">À VISTA (@(Model.desconto_avista)%OFF): R$ @(Model.valor - descontoAVista)</p>
                    precoAvista = Model.valor - descontoAVista;
                }
                catch (Exception ex)
                {

                }
                <div class="form-group">
                    <label for="paymentType" style="font-family: 'Gothan';">Quantidade</label>
                    <input class="form-control" type="number" value="1" max="10" id="example-number-input">
                    <label for="paymentType" style="font-family: 'Gothan';">Forma de Pagamento</label>
                    <select class="form-control" id="paymentType">
                        @*<option>Site</option>*@
                        <option>Presencial</option>
                    </select>
                </div>
                
                <div class="row botoes-compra">
                    <div class="col-lg-12 col-sm-12 col-md-12 mb-1">
                        <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-danger btn-lg btn-block rounded-pill simulate">
                            simule agora o
                            seu pagamento
                        </button>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <form action="/Produto/comprar" method="post">
                            @Html.HiddenFor(m => m.id)
                            <button class="btn btn-primary btn-lg btn-block rounded-pill buy" type="submit">COMPRAR AGORA</button>
                        </form>
                    </div>
                    @*<div class="col-lg-6 col-md-12 col-sm-12">
            <button class="btn btn-default rounded-pill btn-lg add-cart" type="submit">
                ADICIONAR AO
                CARRINHO
            </button>
        </div>*@
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="avista">Valor da entrada no débito ou à vista:</label>
                                    <input type="number" step=".01" class="form-control" id="valor-avista" aria-describedby="emailHelp" required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Simulação:</label>
                                    <input disabled type="text" class="form-control" placeholder="R$" id="simulacao">
                                </div>
                                <input type="hidden" id="precoProdutoAvista" value="@(Convert.ToDecimal(precoAvista).ToString(System.Globalization.CultureInfo.InvariantCulture))" />
                                <input type="hidden" id="percentualAVista" value="@(((decimal)Model.desconto_avista / 100).ToString(System.Globalization.CultureInfo.InvariantCulture))" />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="fechar-simulacao">Fechar</button>
                                <button type="button" class="btn btn-primary" id="simular-pagamento">Simular</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" id="selos">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <img src="@Url.Content("~/Content/Images/selo1.png")" class="" alt="Responsive image">
                            <img src="@Url.Content("~/Content/Images/selo2.png")" class="" alt="Responsive image">
                            <img src="@Url.Content("~/Content/Images/selo3.png")" class="" alt="Responsive image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <p class="h4 features text-center">Características</p>
                <p>
                    @Model.caracteristicas
                </p>
            </div>
            <div class="container">
                <p class="h4 features text-center">Descrição</p>
                <p>
                    @Model.descricao_longa
                </p>
            </div>
            <div class="container">
                <p class="h4 features text-center">Avaliações</p>
                <div class="row evaluations">
                    <div class="col-lg-4">
                        <div class="evaluation-box border">
                            <p class="name-evaluation h4 text-center">
                                FULANO DE TAL
                            </p>
                            <p class="text-evaluation">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis imperdiet
                                tellus, in porttitor urna ultrices eu. Aliquam et magna vel massa blandit euismod.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis imperdiet
                                tellus, in porttitor urna ultrices eu. Aliquam et magna vel massa blandit euismod.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="evaluation-box border">
                            <p class="name-evaluation h4 text-center">
                                FULANO DE TAL
                            </p>
                            <p class="text-evaluation">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis imperdiet
                                tellus, in porttitor urna ultrices eu. Aliquam et magna vel massa blandit euismod.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis imperdiet
                                tellus, in porttitor urna ultrices eu. Aliquam et magna vel massa blandit euismod.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="evaluation-box border">
                            <p class="name-evaluation h4 text-center">
                                FULANO DE TAL
                            </p>
                            <p class="text-evaluation">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis imperdiet
                                tellus, in porttitor urna ultrices eu. Aliquam et magna vel massa blandit euismod.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis imperdiet
                                tellus, in porttitor urna ultrices eu. Aliquam et magna vel massa blandit euismod.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid" id="destaque-talk-us">
        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-2 col-sm-12">
                <img src="@Url.Content("~/Content/images/logotipo-baimi.png")" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12">
                <h1>FALA COM A GENTE !</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center my-4">Entre em contato</h2>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-5">
            Você tem alguma pergunta? Por favor, não hesite em nos contatar imediatamente.
            Nossa equipe entrará em contato com você em questão de horas para ajudá-lo.
        </p>
        <div class="row">
            <!--Grid column-->
            <div class="col-md-9 mb-md-0 mb-5">
                <form id="contact-form" class="needs-validation" novalidate name="contact-form">
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <label for="name" class="">Nome</label>
                                <input required type="text" id="name" name="nome" class="form-control">
                                <div class="invalid-feedback">
                                    campo deve ser informado.
                                </div>
                            </div>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <label for="email" class="">E-mail</label>
                                <input required type="email" id="email" name="email" class="form-control">
                                <div class="invalid-feedback">
                                    campo deve ser informado.
                                </div>
                            </div>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                    <!--Grid row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <label for="subject" class="">Assunto</label>
                                <input required type="text" id="subject" name="assunto" class="form-control">
                                <div class="invalid-feedback">
                                    campo deve ser informado.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-12">
                            <div class="md-form">
                                <label for="message">Mensagem</label>
                                <textarea required type="text" id="message" name="mensagem" rows="2"
                                          class="form-control md-textarea"></textarea>
                                <div class="invalid-feedback">
                                    campo deve ser informado.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->
                    <div class="text-center text-md-left">
                        <br>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>

                <div class="status"></div>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-3 text-center">
                <ul class="list-unstyled mb-0">
                    <li>
                        <i class=""></i>
                        <p>Salvador, BA, Brasil</p>
                    </li>

                    <li>
                        <i class=""></i>
                        <p>(71) 9 9161-0289</p>
                    </li>

                    <li>
                        <i class=""></i>
                        <p>email@baimi.com.br</p>
                    </li>
                </ul>
                <a class="text-decoration-none" href="https://www.facebook.com/baimisalvador/" target="_blank">
                    <i class="fa fa-instagram fa-2x mr-2" aria-hidden="true"></i>
                </a>
                <a class="text-decoration-none" href="https://www.instagram.com/baimisalvador/">
                    <i class="fa fa-facebook-official fa-2x mr-2" aria-hidden="true"></i>
                </a>
                <a>
                    <i class="fa fa-whatsapp fa-2x mr-2" aria-hidden="true"></i>
                </a>
            </div>
            <!--Grid column-->
        </div>
    </div>
</section>

